a {
  color: #e9540d;
  position: relative;
  text-decoration: none;
}

.validation {
  position: absolute;
  top: 70px;
  left: 0;
  padding-left: 17px;
  display: flex;
  align-items: center;
  color: #ff0000;
  font-size: 14px;
}

.validateInput {
  border: 1px solid #ff0000 !important;
}

.is-hide {
  display: none;
}

.pac-container,
.suggestionCon {
  background-color: #f8f8f8;
  color: #2e3333;
  position: absolute;
  z-index: 1;
  top: calc(100% + 1px);
  width: calc(100% - 10px);
  margin: 0 1px;
  -webkit-box-shadow: 0px 0px 6px #00000029;
  box-shadow: 0px 0px 6px #00000029;
}

.autocompleteButton,
.suggestionButton {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  text-align: left;
  display: block;
}

.autocompleteRow {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.autocompleteIcon {
  margin-right: 12px;
}

.pac-item {
  margin-right: auto;
}

.pac-item p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 19px;
}

.pac-item p.second {
  font-size: 12px;
  line-height: 16px;
  color: #828585;
}

#predictions {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.timeline-active .MuiTimelineDot-filled,
.timeline-active .MuiTimelineConnector-root {
  background-color: #f15924;
}

.scrollspy-shopmenu {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  overflow-x: scroll;
}

.scrollspy-shopmenu::-webkit-scrollbar {
  display: none;
}

/*.active div {*/
/*  color: orangered !important;*/
/*}*/

/* Loading Indicator Style */
.loader {
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);

  border: 5px solid #ccc;
  border-top: 5px solid #e9540d;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* svgInline */
.svgInline,
.svgInline > svg {
  height: 165px;
  /* overflow: hidden; */
}

.pac-container {
  z-index: 9999;
}

.facebook-login-button {
  width: 100%;
  border-radius: 50%;
  border: 1px solid #3b5998;
  border-radius: 20px;
  height: 35px;
  background-color: #3b5998;
  color: #fff;
  font: normal normal 600 14px/18px "IBM Plex Sans";
  display: flex;
  gap: 24px;
  padding: 6px 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.facebook-login-button:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

@media (max-width: 600px) {
  .validation {
    top: 137px;
  }
}

.infinite-scroll-component__outerdiv {
  width: 100%;
}